@{
    ViewBag.Title = "About";
}
<h2>Acerca de Nosotros</h2>
<h2><img alt="Brand" style="max-width: 500px; max-height: 500px; margin-top: -10px;" aling="center" src="~/Images/Logo.png"></h2>
<h3>Somos TextiWorld</h3>

<p>Somos una empresa dedicada a la venta de productos textiles para el hogar, contamos con una amplia gama de productos </p>
