@{
    ViewBag.Title = "About";
}
<h2>Acerca de Nosotros</h2>
<h3>Somos QuitoTex</h3>

<p>Somos una empresa dedicada a la venta de productos textiles para el hogar, contamos con una amplia gama de productos </p>
