@{
    ViewBag.Title = "About";
}
<h2>Acerca de Nosotros</h2>
<h2><img alt="Brand" style="max-width: 500px; max-height: 500px; margin-top: -10px;" aling="center" src="~/Images/Logo.png"></h2>
<h3>Somos TextiWorld</h3>

<p>Somos una empresa dedicada a la venta de productos textiles para el hogar, contamos con una amplia gama de productos </p>
<h2>Misión</h2>

<p>Cumplir las expectativas de nuestros clientes brindando la más amplia gama personalizada de productos y servicios con atención.</p>

<h2>Visión</h2>

<p>Ser la cadena de textiles mas reconocidas a nivel nacional. Por nuestra calidad y variad de productos y servicios, atención personalizada.</p>

<h2>Valores</h2>

<p>Responsabilidad con el medio ambiente. Responsabilidad social. Apego a nuestros colaboradores.</p>




