@{
    ViewBag.Title = "Contact";
}
<h2>Contactanos</h2>
<img style="max-width: 150px; max-height: 150px;" src="~/Images/Only-Logo.png"/>

<address>
    Av.El Inca y Uepi<br />
    N50-31, Tef: 02-2412852<br />
    <abbr title="Phone">P:</abbr>
    0984461205
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Softhink@example.com">Softhink@gmail.com</a><br />
    <strong>Propietario:</strong> <a href="mailto:propietario@example.com">propeitario@example.com</a>
</address>